
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Arial, sans-serif;
  }
  
  /* Encabezado de la tabla */
  thead th {
    background-color: #f4f4f4;
    font-weight: bold;
    text-align: left;
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  /* Cuerpo de la tabla */
  tbody td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  /* Fila alterna para las celdas */
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  /* Botón de Editar */
  button {
    cursor: pointer;
    border-radius: 4px;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
  }
  
  button:nth-child(1) {
    background-color: #007bff;
    color: white;
    margin-right: 5px;
  }
  
  button:nth-child(1):hover {
    background-color: #0056b3;
  }
  
  /* Botón de Eliminar */
  button:nth-child(2) {
    background-color: #dc3545;
    color: white;
  }
  
  button:nth-child(2):hover {
    background-color: #a71d2a;
  }
  